:root {
    --onyx: #343e3dff;
    --hookers-green: #607466ff;
    --celadon: #aedcc0ff;
    --emerald: #7bd389ff;
    --aquamarine: #38e4aeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--onyx);
    color: var(--celadon);
}

header, footer {
    background-color: var(--aquamarine);
    color: var(--onyx);
}

header {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
}

header > p {
    font-size: x-large;
    margin: 5px;
}

nav a {
    font-size: smaller;
    background-color: #343e3dff;
    color: var(--celadon);
    padding: 4px;
}

nav a:hover {
    text-decoration: line-through;
}

main {
    min-height: 85vh;
    padding: 30px;
}

main > img:nth-of-type(1) {
    width: 100%;
    height: 50vw;
    max-height: 50vh;
    object-fit: cover;
}

h1, p {
    margin: 0.5rem 0;
    color: var(--aquamarine);
}

footer {
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}